<div class="container">
  <div class="oferta" *ngIf="oferta !== undefined">
    <!--Funcionamento do Observable-->
    <!-- <div class="row">
      <div class="col">
        <a [routerLink]="[ '/oferta', 1 ]">Oferta 1</a>
        <a [routerLink]="[ '/oferta', 3 ]">Oferta 3</a>
        <a [routerLink]="[ '/oferta', 6 ]">Oferta 6</a>
      </div>
    </div> -->
    <div class="row">
      <div class="col">
        <h4>{{ oferta.descricao_oferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <div class="thumbnails">
          <img *ngFor="let imagem of oferta.imagens" [src]="imagem.url" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{ oferta.valor }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="mt-5 mb-5">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-como-usar-tab" data-toggle="tab" routerLink="como-usar" role="tab"
          aria-controls="nav-home" aria-selected="true">Como usar</a>
        <a class="nav-item nav-link" id="nav-onde-fica-tab" data-toggle="tab" routerLink="onde-fica" role="tab"
          aria-controls="nav-profile" aria-selected="false">Onde Fica</a>
        <a class="nav-item nav-link" id="nav-duvidas-tab" data-toggle="tab" href="#duvidas" role="tab"
          aria-controls="nav-contact" aria-selected="false">Dúvidas </a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <router-outlet></router-outlet>
  </div>
</div>