<div class="fixed-top">
  <nav class="navbar navbar-dark bg-light">
    <div class="container">
      <div class="row w-100">
        <div class="col-md-4">
          <a routerLink="/" class="navbar-brand">
            <img src="/assets/logo.png" />
          </a>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control mt-3" placeholder="Pesquise por ofertas" #termoDaPesquisa
            (keyup)="pesquisa(termoDaPesquisa.value)">
          <ul class="list-group lista">
            <li *ngFor="let oferta of ofertas | async" class="list-group-item">
              <a [routerLink]="['/oferta', oferta.id]" (click)="limpaPesquisa()">
                {{oferta.titulo | descricaoReduzida:15}}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 mt-2 d-flex">
          <a a href="#" class="ml-auto"><img src="/assets/carrinho.png" /></a>
        </div>
      </div>
    </div>
  </nav>

  <div class="menu w-100">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/restaurante">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/diversao">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/banner-inicial.jpg" />
</div>